extends page

block headContent
  title Add Recipe
  style.
    .flex {
      display: flex;
    }
    .flex>*+* {
      margin-left: 1rem;
    }
    .ingredient {
      margin-top: 0.5rem;
    }
    #ingredients {
      margin-top: 16px;
    }
    #ingredient-template {
      display: none;
    }
    #ingredient-labels {
      height: 1.5rem;
    }
    #ingredient-labels label {
      margin: 0;
      padding: 0;
      width: initial;
    }
    #ingredient-labels>div>*:not(label) {
      visibility: hidden;
    }

block bodyContent
  h1 Add New Recipe
  form(action="" onsubmit="return false;")
    div
      label(for="recipe-name") Recipe Name
      input#recipe-name(name="recipe-name" type="text")
    div
      label(for="recipe-category") Category
      select#recipe-category(name="recipe-category")
        option(value="Breakfast") Breakfast
        option(value="Lunch") Lunch
        option(value="Dinner" default="") Dinner
        option(value="Dessert") Dessert
        option(value="Snacks") Snacks
        option(value="Drinks") Drinks
    div
      label(for="recipe-servings") Servings
      input#recipe-servings(type="number")
    #ingredients
      #ingredient-labels.flex
        div
          label(for="ing-qty") Qty
          input(name="ing-qty" type="number")
        div
          label(for="ing-unit") Unit
          select(name="ing-unit")
            option(value="" default="")
            option(value="Tbsp") Tbsp
        div
          label(for="ing-name") Ingredient Name
          input(name="ing-name" type="text")
        div
          label(for="ing-prep") Preparation
          input(name="ing-prep" type="text")
        div
          label(for="ing-controls") Controls
          button(onclick="deleteIngredient(event);") Delete
      .ingredient.flex
        input(type="number")
        select
          option(value="" default="")
          option(value="ml") ml
          option(value="g") g
          option(value="lb") lb
          option(value="oz") oz
          option(value="cup") cup
          option(value="tsp") tsp
          option(value="Tbsp") Tbsp
          option(value="in") in
        input(type="text")
        input(type="text" placeholder="Eg: thinly sliced")
        button.btn.error(onclick="deleteIngredient(event);") Delete
    p
      button.btn.success#addIngredientButton(type="button") Add ingredient
    p
      label(for="recipe-directions") Directions
      textarea#recipe-directions(name="recipe-directions" cols="30" rows="10")
    p
      button.btn.info#preview-button(type="button") Preview
      input.btn.success#submit-button(value="Save Recipe" type="submit")
  hr
  #preview-elm
  hr
  #ingredient-template.ingredient.flex
    input(type="number")
    select
      option(value="" default="")
      option(value="ml") ml
      option(value="g") g
      option(value="lb") lb
      option(value="oz") oz
      option(value="cup") cup
      option(value="tsp") tsp
      option(value="Tbsp") Tbsp
      option(value="in") in
    input(type="text")
    input(type="text" placeholder="Eg: thinly sliced")
    button(onclick="deleteIngredient(event);") Delete
  script(src="./add-recipe.js")
