extends page

block headContent
  title Mealplan

block bodyContent
  h1 Mealplan
  p Mealplan is a convenient way to choose what you're going to eat for the week. Pick the meals you want to make and Mealplan gives you a shopping list. Check off the stuff you already have and you're good to go!
