extends page

block headContent
  title Log In

block bodyContent
  h1 Log In
  form(action="./login" method="post")
    input(value=redirectTo id="redirectTo" name="redirectTo" type="hidden")
    div
      label(for="username") Username
      input(class="u-full-width" id="username" name="username" type="text")
    div
      label(for="password") Password
      input(class="u-full-width" id="password" name="password" type="password")
    p
      input.btn.success(type="submit" value="Log In")
  p
    | Don't have an account yet? 
    a(href="./register") Register here
    | .