doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if base
        base(href=base)
    link(rel="icon" type="image/png" href="icon48.png")
    link(rel="stylesheet", href="mealplan.css")
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous")
    block headContent
  body
    header(class="nav-bar")
      div(class="container")
        nav
          a(href="./")
            div(class="logo")
              img(src="icon48.png")
          div
            if isAuthenticated
              a(href="plan")
                i(class="fas fa-list-ul")
                span Plan
              a(href="your-recipes")
                i(class="fas fa-folder")
                span Your Recipes
              a(href="add-recipe")
                i(class="fas fa-plus")
                span Add Recipe
              a(href="logout")
                i(class="fas fa-sign-out-alt")
                span Log Out
            else
              a(href="login")
                i(class="fas fa-sign-in-alt")
                span Log in
              a(href="register")
                i(class="fas fa-heart")
                span Register
    div#app(class="container")
      if banner
        include mixins/banner
        +banner(banner.message, banner.type)
      block bodyContent
