extends page

block headContent
  title Make a Mealplan
  script const RECIPES = !{JSON.stringify(recipes)};
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script.
    function dropHandler(evt, day) {
      evt.preventDefault();
      var id = evt.dataTransfer.getData("text/plain");
      let serving;
      let origin;
      [
        'servings',
        'mondayServings',
        'tuesdayServings',
        'wednesdayServings',
        'thursdayServings',
        'fridayServings',
        'saturdayServings',
        'sundayServings'
      ].forEach(prop => {
        const result = APP[prop].find(serving => serving.id === id);
        if ( result !== undefined ) {
          serving = result;
          origin = prop;
        }
      });
      APP[day + 'Servings'] = APP[day + 'Servings'].concat(serving);
      APP[origin] = APP[origin].filter(serving => serving.id !== id);
    }

    function dragoverHandler(evt) {
      evt.preventDefault();
      evt.dataTransfer.dropEffect = "move";
    }
  link(rel="stylesheet" href="plan.css")
  link(rel="stylesheet" href="search.css")

block bodyContent
  h1 Make a Mealplan
  p Search for the recipes you want to make this week and click on the "Make this" button to create one card for each serving. Drag and drop the serving cards into the calendar to plan your week.
  p#search-container
    i(class="fas fa-search")
    input#search(v-model='search' type='search')
  .category-container
    p.category-name Other
    .card-list
      add-recipe-card(v-for="recipe in others" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Breakfasts
    .card-list
      add-recipe-card(v-for="recipe in breakfasts" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Lunches
    .card-list
      add-recipe-card(v-for="recipe in lunches" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Dinners
    .card-list
      add-recipe-card(v-for="recipe in dinners" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Desserts
    .card-list
      add-recipe-card(v-for="recipe in desserts" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Snacks
    .card-list
      add-recipe-card(v-for="recipe in snacks" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")
  .category-container
    p.category-name Drinks
    .card-list
      add-recipe-card(v-for="recipe in drinks" v-on:add-recipe="addServingsForRecipe" v-bind:key="recipe.id" v-bind:recipe="recipe")

  div#serving-cards
    serving-card(v-for="serving in servings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
  table#calendar
    thead
      tr
        th Monday
        th Tuesday
        th Wednesday
        th Thursday
        th Friday
        th Saturday
        th Sunday
    tbody
      tr
        td(ondrop="dropHandler(event, 'monday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in mondayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'tuesday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in tuesdayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'wednesday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in wednesdayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'thursday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in thursdayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'friday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in fridayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'saturday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in saturdayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")
        td(ondrop="dropHandler(event, 'sunday');" ondragover="dragoverHandler(event);")
          div(class="calendar-date card-list")
            serving-card(v-for="serving in sundayServings" v-bind:set-id="serving.setId" v-bind:id="serving.id" v-bind:key="serving.id" v-bind:recipe="serving.recipe" v-on:delete-set="deleteSet")

  script(src="./plan.js")
