extends page

block headContent
  title Mealplan

block bodyContent
  h1= recipe.name
  p= `Serves ${recipe.servings}`
  ul
    each ingredient in recipe.ingredients
      li= ingredient.qty + " " + ingredient.unit + " " + ingredient.name + (ingredient.preparation ? `, ${ingredient.preparation}` : '')
  pre= recipe.directions
