extends page

block headContent
  title Register

block bodyContent
  h1 Register
  form(action="./register" method="post")
    div
      label(for="username") Username
      input(class="u-full-width" id="username" name="username" type="text")
    div
      label(for="password") Password
      input(class="u-full-width" id="password" name="password" type="password")
    p
      input.btn.success(type="submit" value="Register")
  p
    | Already have an account? 
    a(href="./login") Log in
    | .