extends page

block headContent
  title Your Recipes
  script const RECIPES = !{JSON.stringify(recipes)};
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  link(rel="stylesheet" href="search.css")

block bodyContent
  h1 Your Recipes
  p#search-container
    i(class="fas fa-search")
    input#search(v-model='search' type='search')
  table
    thead
      tr
        th Name
        th Category
        th
    tbody
      tr(v-for="recipe in filteredRecipes")
        td
          a(v-bind:href=`'./recipe/' + recipe.id`) {{ recipe.name }}
        td {{ recipe.category }}
        td.actions
            button.delete.btn.error(v-bind:data-recipe-id='recipe.id') DELETE
  script(src=`./your-recipes.js`)
