@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Nunito');

/* General styles */
body {
  color: #222;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  max-width: 720px;
  padding: 1rem;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

/* Tables */
table {
  width: 100%;
}

td,
th {
  border-top: 1px solid #e6e6e6;
  text-align: left;
  padding: 15px;
}

th {
  text-transform: uppercase;
  font-weight: semibold;
  color: #4a4a4a;
  background-color: rgb(247, 247, 247);
}

tr:hover {
  background: #f5f8fc;
}

tr .actions {
  text-align: right;
}

/* Navigation */
.nav-bar {
  margin: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
}

nav a + a {
  margin-left: 0.6rem;
}

nav > div > a {
  text-decoration: none;
  padding: 8px 16px;
}

nav > div > a:hover {
  cursor: pointer;
  border-bottom: 1px solid #333;
}

nav a span {
  margin-left: 0.6rem;
}

.nav-links-container {
  display: flex;
}

.icon > img {
  width: 48px;
  height: 48px;
}

/* Forms */
textarea {
  width: 720px;
  height: 200px;
}

pre,
textarea {
  font-family: 'Nunito';
}

label {
  display: block;
  padding: 0.4rem 0;
  margin-top: 8px;
  width: 8rem;
}

form tr:not(:first-child) td {
  padding-top: 1rem;
}

button,
input[type='submit'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='text'],
textarea,
select {
  border-radius: 4px;
  font-family: 'Roboto Mono';
  padding: 8px 16px;
  outline: 0;
}

input[type='search']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='text']:focus,
textarea:focus,
select:focus {
  border: 1px solid hsl(198, 63%, 38%);
}

input[type='password'],
input[type='search'],
input[type='number'],
input[type='text'],
textarea,
select {
  background: none;
  border: 1px solid #bbb;
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

button,
input[type='submit'] {
  text-transform: uppercase;
}

button + button,
input[type='submit'] + input[type='submit'],
input[type='submit'] + button,
button + input[type='submit'] {
  margin-left: 1rem;
}

input[type='number'] {
  width: 3rem;
}

select {
  min-width: 3.5rem;
}

.card {
  display: inline-block;
  background: white;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Specific styles */
.center {
  text-align: center;
}

.btn {
  color: #fefefe;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.error {
  background: hsl(360, 78%, 62%);
  border: 1px solid hsl(360, 78%, 62%);
}

.btn.error:hover {
  background: hsl(360, 78%, 65%);
}

.btn.error:focus {
  border: 1px solid hsl(360, 78%, 38%);
}

.success {
  background-color: hsl(170, 40%, 60%);
  border: 1px solid hsl(170, 40%, 60%);
}

.btn.success:hover {
  background-color: hsl(170, 40%, 62%);
}

.btn.success:focus {
  border: 1px solid hsl(170, 40%, 45%);
}

.info {
  background-color: hsl(198, 63%, 38%);
  border: 1px solid hsl(198, 63%, 38%);
}

.btn.info:hover {
  background-color: hsl(198, 63%, 41%);
}

.btn.info:focus {
  border: 1px solid hsl(198, 63%, 21%);
}

.banner {
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
}
