body {
  max-width: initial;
}

#recipe-template {
  display: none;
}

.category-container {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: calc(100% / 7 - 7px);
}

.category-container + .category-container {
  margin-left: 8px;
}

.category-container .category-name {
  margin: 8px 0;
  font-size: 22px;
}

.card-list {
  display: flex;
  flex-direction: column;
}

.card-list > * {
  margin-bottom: 8px;
}

.add-recipe-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-recipe-card > span {
  margin-right: 8px;
}

#serving-cards {
  margin-bottom: 16px;
  min-height: 38px;
}

#serving-cards .card {
  margin-right: 8px;
  margin-bottom: 8px;
}

.calendar-date {
  min-height: 200px;
}

#calendar {
  border: 1px solid #e6e6e6;
}

#calendar > tbody td {
  width: calc(100% / 7);
  vertical-align: top;
}

#calendar > tbody tr {
  background-color: #f5f8fc;
}
