//- Display a banner message
//-
//- @param {String} message The message.
//- @param {String} type The type of message. Can be 'error' or 'info'

mixin banner(message, type)
  - type = type || 'info';
  p.banner(class=type)= message
